name: Deploy Fabric Solution from Template

on:
  workflow_dispatch:
    inputs:
      config_file:
        description: "Path to configuration template file"
        required: false
        type: string
        default: "config/templates/v01/v01-template.yml"

env:
  PYTHON_VERSION: '3.12'

jobs:
  deploy-fabric-infrastructure:
    runs-on: windows-latest

    # Common environment variables for all steps
    env:
      AZURE_CLIENT_ID: ${{ secrets.SPN_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.SPN_CLIENT_SECRET }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      SPN_OBJECT_ID: ${{ secrets.SPN_OBJECT_ID }}
      GITHUB_PAT: ${{ secrets.GH_PAT }}
      CONFIG_FILE: ${{ inputs.config_file }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: pip install -r config/requirements.txt

      - name: Run solution generator
        run: python config/generate_solution_from_yml_simple.py
