name: Starter GitHub Actions Workflow

on:
  workflow_dispatch:
    inputs:
      solution_version:
        description: "Solution version (e.g., av01, av02, av03)"
        required: true
        type: string
        default: "av01"

env:
  PYTHON_VERSION: '3.12'

jobs:
  deploy-fabric-infrastructure:
    runs-on: windows-latest

    # Common environment variables for all steps
    env:
      AZURE_CLIENT_ID: ${{ secrets.SPN_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.SPN_CLIENT_SECRET }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Fabric CLI
        run: pip install ms-fabric-cli==1.2.0

      - name: Authenticate
        run: fab auth login -u ${{ env.AZURE_CLIENT_ID }} -p ${{ env.AZURE_CLIENT_SECRET }} --tenant ${{ env.AZURE_TENANT_ID }}
